<table class="table table-bordered">
	<tr class="info">
		<td><button ng-click="checkAllMails()">#</button></td>
		<td ng-click="sortField = 'company_name'; reverseSortField = !reverseSortField">CÉG NEVE</td>
		<td ng-click="sortField = 'sender_name'; reverseSortField = !reverseSortField">FELADÓ NEVE</td>
		<td ng-click="sortField = 'sender_address'; reverseSortField = !reverseSortField">FELADÓ CÍME</td>
		<td ng-click="sortField = 'receiving_date'; reverseSortField = !reverseSortField">ÉRK. DÁTUM</td>
		<td ng-click="sortField = 'forwarding_date'; reverseSortField = !reverseSortField">TOVÁBB. DÁTUM</td>
		<td ng-click="sortField = 'forwarding_method'; reverseSortField = !reverseSortField">TOVÁBB. MÓDJA</td>
	</tr>
	<tr ng-repeat="mail in mailDataList | orderBy:sortField:reverseSortField" ng-class="{green:'success', yellow:'warning', red:'danger'}[mail.css_color]">
		<td>
			<input type="checkbox" checklist-model="selectedMails.id" checklist-value="mail.mail_id">
		</td>
		<td>
			<div ng-hide="mail.show_input">{{mail.company_name}}</div>
			<input type="text" ng-model="mail.company_name" ng-show="mail.show_input">
		</td>
		<td>
			<div ng-hide="mail.show_input">{{mail.sender_name}}</div>
			<input type="text" ng-model="mail.sender_name" ng-show="mail.show_input">
		</td>
		<td>
			<div ng-hide="mail.show_input">{{mail.sender_address}}</div>
			<input type="text" ng-model="mail.sender_address" ng-show="mail.show_input">
		</td>
		<td>
			<div ng-hide="mail.show_input">{{mail.receiving_date | date: "yyyy-MM-dd"}}</div>
			<input type="date" ng-model="mail.receiving_date" ng-show="mail.show_input">
		</td>
		<td>
			<div ng-hide="mail.show_input">{{mail.forwarding_date | date: "yyyy-MM-dd"}}</div>
			<input type="date" ng-model="mail.forwarding_date" ng-show="mail.show_input">
		</td>
		<td>
			<div ng-hide="mail.show_input">{{mail.forwarding_method}}</div>
			<input type="text" ng-model="mail.forwarding_method" ng-show="mail.show_input">
		</td>
	</tr>
</table>