<div ng-include="'templates/companies/_companies_form_search.html'" ng-show="display.form.searchCompany"></div>
<div ng-include="'templates/companies/_companies_form_email.html'" ng-show="display.form.sendEmail"></div>
<div ng-include="'templates/companies/_companies_form_details.html'" ng-show="display.form.showDetails"></div>
<div ng-include="'templates/companies/_companies_form_extend.html'" ng-show="display.form.extendContract"></div>
<div ng-include="'templates/companies/_companies_form_addnew.html'" ng-show="display.form.addNewCompany"></div>
<div ng-include="'templates/companies/_companies_navbar.html'"></div>